{% extends "base.html" %}

{% block tabs %}
  {{ super() }}
  <div style="margin-left:auto; display:flex; align-items:center; gap:12px; padding-right:10px;">
      <a href="https://genir-notes.github.io" target="_blank">
        <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https://genir-notes.github.io&title=visits&edge_flat=false" style="height:20px;">
      </a>
      <a href="https://github.com/GenIR-notes/genir-notes/stargazers" target="_blank">
        <img src="https://img.shields.io/github/stars/GenIR-notes/genir-notes?style=social" style="height:20px;">
      </a>
      <a href="https://github.com/GenIR-notes/genir-notes/watchers" target="_blank">
        <img src="https://img.shields.io/github/watchers/GenIR-notes/genir-notes?style=social" style="height:20px;">
      </a>
  </div>
{% endblock %}
